@model IEnumerable<Team_16_Centric_Project.Models.EmployeeRecognition>

@{
    ViewBag.Title = "Recongnition";
}

<h2>Opt in and sign up for our recognition program here!</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.employeeRecognitionID }) 
          
        </td>
    </tr>
}

</table>
